
/*Boutton Twitch sur index.php*/
.index-twitch-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #ab04b1;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.index-twitch-button:hover {
    background-color: #ce0fd4;
}

/*Boutton Youtube sur index.php*/
.index-ytb-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #d43434;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.index-ytb-button:hover {
    background-color: #d85050;
}

/*Boutton Discord sur index.php*/
.index-discord-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 55px;
    background-color: #343fd4;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.index-discord-button:hover {
    background-color: #444dce;
}
.twitch-twitch-sub-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 55px;
    background-color: #41c63f;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.twitch-twitch-sub-button:hover {
    background-color: #70df6e;
}
.twitch-twitch-bits-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 55px;
    background-color: #3f85c6;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.twitch-twitch-bits-button:hover {
    background-color: #245079;
}
.twitch-rules-button {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 55px;
    background-color: #c63f3f;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.twitch-rules-button:hover {
    background-color: #db6666;
}