@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.headerclass {
    background-image: url("/SRC/font-header.png");
    background-size: cover;
    width: 100%;
    height: 169px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
    
.headerclass h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}
    
.headerclass ul {
    font-family: 'Lexend', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
    
.headerclass ul li {
    display: inline;
    margin-right: 20px;
}
    
.headerclass ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
